body {
    background: #20000b;
    color: #333;
    font-size: 11px;
    height: auto;
    padding-bottom: 20px;
}
h1 {
    padding-top: 20px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
h3 {
    padding-top: 20px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-bottom: 20px;
}
h4 {
    padding-top: 20px;
    text-align: left;
    color: #4a4748;
    text-transform: uppercase;
}
h4#center {
    padding-top: 20px;
    text-align: center;
    color: #4a4748;
    text-transform: uppercase;
}

hr {
    margin-top: -15px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
    height: auto;
    border-radius: 100%;
}

